html,
body {
    background: #4e06e0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(left bottom, rgba(13, 12, 12, 0.5), #4e06e0);
    background-image: linear-gradient(to right top, rgba(13, 12, 12, 0.5), #4e06e0);
}