/*
 Create By luoxing on 2018/2/27 3:10
*/

/*去掉浏览器默认样式 S*/
body, div, ul, li, img, a, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 12px;

    /*去除html双击后选中有蓝色背景*/
    -m-user-select: none; /*火狐*/
    -o-user-select: none; /*opera*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*去掉浏览器默认样式 E*/

/*右三角形 S*/
.triangle_right {
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #fff;
}
/*右三角形 E*/

/*上三角形 S*/
.triangle_top {
    width: 0;
    height: 0;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
}
/*上三角形 E*/

/*缩略符 S*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/*缩略符 E*/

/*幻灯片区域 S*/
#slide {
    width: 660px;
    height: 330px;
    margin: 50px auto 0;
    background: #f00;
    position: relative;
    overflow: hidden;
}

/*幻灯片大图展域 S*/
#slide > a#slide_maxImage > img {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
/*幻灯片大图区域 E*/

/*幻灯片信息区域 S*/
#slide > #slide_mask {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 90px;
}

/*幻灯片信息顶部 S*/
#slide > #slide_mask > #mask_top {
    width: 500px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
}

/*播发按钮 S */

/*外围边框 S*/
#slide > #slide_mask > #mask_top > a > span.pause {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 2px solid #c6c6c4;
}
/*外围边框 E*/

/*右三角 S*/
#slide > #slide_mask > #mask_top > a > span.pause > span.triangle_right {
    margin: 3px 5px;
}
/*右三角 E*/

/*播发按钮 S */

/*文字 S*/
#slide > #slide_mask > #mask_top > a > span.title {
    float: left;
    font-size: 18px;
    margin-left: 20px;
    max-width: 440px;
    margin-top: -2px;
    color: #fff;
}
/*文字 E*/

/*幻灯片信息顶部 E*/

/*幻灯片信息底部 S*/
#slide > #slide_mask > #mask_bottom {
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

/*小图总区域 S*/
#slide > #slide_mask > #mask_bottom > #slide_minImage {
    float: left;
    width: 525px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

/*小图位置 S*/
#slide > #slide_mask > #mask_bottom > #slide_minImage > ul#mask_images {
    position: absolute;
    left: 0px;
    top: 0px;
    /*这里使用transition有个问题，就是当鼠标快速点击按钮时，会导致过渡时间还没有走完就进入到下一次触发事件了*/
    /*-webkit-transition: all .7s ease-in;
    -moz-transition: all .7s ease-in;
    -ms-transition: all .7s ease-in;
    -o-transition: all .7s ease-in;
    transition: all .7s ease-in, */
}
/*小图位置 E*/

/*图片区域 S*/
#slide > #slide_mask > #mask_bottom > #slide_minImage > ul#mask_images > li {
    cursor: pointer;
    float: left;
    opacity: .7;
    width: 75px;
    position: relative;
}
/*图片区域 E*/

/*图片样式 S*/
#slide > #slide_mask > #mask_bottom > #slide_minImage > ul#mask_images > li > img {
    border: 2px solid #DFE8E4;
    height: 36px;
    width: 64px;
}
/*图片样式 E*/

/*小图总区域 E*/

/*方向按钮区域 S*/
#slide > #slide_mask > #mask_bottom > #mask_direction {
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 36px;
}

/*左右方向键 S*/
#slide > #slide_mask > #mask_bottom > #mask_direction > span {
    cursor: pointer;
    font-size: 40px;
    color: #C3B490;
}
/*左右方向键 E*/

/*右方向键 S*/
#slide > #slide_mask > #mask_bottom > #mask_direction > span.direction_right {
    margin-left: 5px;
}
/*右方向键 E*/

/*方向按钮区域 E*/

/*幻灯片小图被选中样式 S*/
.slide_active {
    border: 1px solid #fff;
    opacity: 1;
    position: absolute;
    width: 62px;
    height: 34px;
    left: 2px;
    top: 2px;
}
/*幻灯片小图被选中样式 E*/

/*方向键激活样式 S*/
.direction_active {
    color: #fff !important;
}
/*方向键激活样式 E*/

/*幻灯片信息底部 E*/

/*幻灯片信息区域 E*/

/*幻灯片区域 E*/