 /*代码的优先级，越在后面的优先级越高*/
html,body,div,ul,li,img,span,input,a,p{ margin:0px; padding:0px; }
body{ font-size:12px; font-family:"微软雅黑"; }
#Top{ /*width:100%;*/ height:149px; 
background:url("../images/headbg.jpg"); }
#Top .head{ width:1000px; height:30px; 
margin:0px auto ; font-size:14px; color:#666; line-height:30px; }
#Top .head span{ color:#E20076; font-weight:bold; padding:0px 
4px; 
cursor:pointer; }
#Top .head a{ color:#666; text-decoration:none; font-weight:800; 
/*加
粗*/padding:0px 5px; }
#Top .head a:hover{ color:#E20076; }
#Top #header{ width:1000px; height:70px; margin:0px auto; }
#Top #header .banner{width:221px;height:44px;float:left;padding-top:12px;cursor:pointer; }
#Top #header .logo{width:511px;float:left;line-height:70px;font-size:16px;padding-left:80px;}
#Top #header .logo a{text-decoration:none;text-align:center;line-height:44px;color:#353535;    padding: 0px 20px;}
#Top #header .logo a:hover{text-decoration:underline;color:#E20076;}
#Top #header .search{ width:180px; height:35px; float:right; padding-top:16px; position:relative; }
#Top #header .search input.txt{ width:140px; height:21px; border:1px solid #e1e1e1; color:#999; text-indent:10px;/*首行缩进*/ position:absolute; left:0px;top:20px; }
#Top #header .search input.but{ width:26px; height:25px; 
background:url("../images/sosoh.jpg"); border:0px; 
position:absolute;left:141px; top:20px; } 
#Top .Nav{width:1000px; height:49px;margin:0px auto; }
#Top .Nav .mainNav{ width:550px; height:49px;  float:left; }
#Top .Nav .smallNav{ width:150px; height:49px; float:right; }
#Top .Nav .mainNav ul li{ list-style-type:none; width:100px; height:49px; float:left;line-height:49px; text-align:center; font-size:14px;position:relative; }
#Top .Nav .mainNav ul li.hover{ background:#B80064; }
#Top .Nav .mainNav ul li a{ color:#fff; text-decoration:none; }
#Top .Nav .mainNav ul li .menu{ width:350px; border:2px solid #e10076;border-top:0px;position:absolute; background:#fff; filter:Alpha(opacity=90);-webkit-opacity: 0.9; opacity: 0.9;/*背景透明*/left:0px; top:49px ; display:none; padding:10px;z-index:3;/*改变定位元素的图层关系，值越大越在上面*/ } 
#Top .Nav .mainNav ul li .menu p{ text-align:left; line-height:35px; border-bottom:1px dotted #ddd; }
#Top .Nav .mainNav ul li .menu p span{ font-weight:bold; }
#Top .Nav .mainNav ul li .menu p a{ color:#666; }
#Top .Nav .mainNav ul li .menu p a:hover{ color:#B80064; }
#Top .Nav .smallNav{ line-height:49px; font-size:14px; }
#Top .Nav .smallNav a{ color:#fff; text-decoration:none; 
/*border:1px solid red;*/ float:left; padding:0px 10px; }
#Top .Nav .smallNav a:hover{ text-decoration:underline; }

/*Adv S*/
#Adv{width:100%;height:421px;position:relative;}
#Adv .ImgList{width:100%;height:421px;position:absolute;left:0px;top:0px;overflow:hidden;z-index:2;}
#Adv ul.button li
{width:50px;height:10px;background:#000;float:left;margin:0px 5px;list-style:none;border:1px dotted #fff;}
#Adv ul.button{height:20px;position:absolute;left:45%;bottom:50px;display:inline-block;z-index:3;}
#Adv ul.button li.hover{background:#fff;}
/*Adv E*/

/*Part1 start*/
#Part1{width:1000px;height:460px;margin:35px auto;}
#Part1 #Part1_L{width:339px;height:442px;float:left;padding:6px 6px;}
#Part1 #Part1_L .Part_imgCon{width:339px;height:376px;position:relative;overflow:hidden;}
#Part1 #Part1_L .Part_imgCon .Part_ScrollCon{width:1000%;height:376px;position:absolute;left:0px;top:0px;}
#Part1 #Part1_L .Part_imgCon .Part_ScrollCon img{float:left;}
#Part1 #Part1_L ul.Part_ScrollTxt{height:35px;overflow:hidden;}
#Part1 #Part1_L ul.Part_ScrollTxt li{list-style:none;font-size:14px;line-height:35px;}
#Part1 #Part1_L ul.Part_ScrollBut li{width:40px;height:8px;background:#00a9e2;list-style:none;float:left;margin:5px;}
#Part1 #Part1_L ul.Part_ScrollBut li.hover{background:#d81480;}
#Part1 #Part1_R{width:560px;height:442px;padding:0px 30px;background:url("../images/vl.jpg")no-repeat,url("../images/vr.jpg") no-repeat right top;float:right;}
#Part1 #Part1_R 
p.title{height:90px;background:url("../images/lxtjbg.jpg") no-repeat right bottom;border-bottom:1px dashed #c9c9c9;}
#Part1 #Part1_R ul.select_but {border-bottom:1px solid #eee;height:32px;}
#Part1 #Part1_R ul.select_but li{list-style: none;width: 84px;height: 32px;float: left;font-size: 14px;line-height: 32px;text-align: center;background: url("../images/lxtjcdbg.jpg") no-repeat right bottom;}
#Part1 #Part1_R ul.select_but li.hover{background-image:url("../images/lxtjcdxg.jpg");/*method two 
background:url("../images/lxtjcdxg.jpg") no-repeat right 
bottom;*/ }
#Part1 #Part1_R .select_con{height:300px;margin-top:20px;overflow:hidden;}
#Part1 #Part1_R .select_con .select_content{height:300px;}
#Part1 #Part1_R .select_con .select_content ul.sel_imgList li{width:126px;height:124px;list-style:none;float:left;margin:0px 6px 0px 7px;position:relative;}
#Part1 #Part1_R .select_con .select_content ul.sel_imgList li p{/*height:41px;*/background-color:rgba(187,14,115,0.7);color:#fff;padding:0px 9px;line-height:20px;position:absolute;left:0px;bottom:0px;height:0px;overflow:hidden;}

/*background包含
background-image,background-position,background-repeat,bac
k
ground-color*/

#Part1 #Part1_R ul{padding-top:20px;}
#Part1 #Part1_R ul.IntroNews li{font-size:14px;line-height:35px;text-indent:20px;
background:url("../images/li_dian.png") no-repeat 8px 16px;}
#Part1 #Part1_R ul.IntroNews li a{color:#000;text-decoration:none;}
#Part1 #Part1_R ul.IntroNews li a:hover{color:#E20076;}
#Part1 #Part1_R ul.IntroNews li span{color:#E20076;font-weight:bold;float:right;}
/*height:35px;line-height:35px;==line-height:35px;*/
/*Part1 end*/